
html,
body {
    height: 100%;
}

.greetings,
p,
h1, 
h2 {
    font-family: FreeMono, monospace;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #E6E6E6;
    padding: 5px;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    font-family: 'Impact', fantasy;
    justify-content: space-between;
    height: 15%;
    margin-bottom: 3em;
    background-color: #1e3a8d;
}

ul  {
    display: flex;
    list-style-type: none;
}

.logo {
    width: 70px;
    height: 70px;
    margin-left: 10px;
}

.about_me {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.data {
    display: flex;
    align-items: center;
}

.fullname {
    margin-right: 20px;
    flex-basis: 750px;
}

.myImg {
    margin-top: 40px;
    padding-left: 20px;
    flex-basis: 450px;
}

.knowledge {
    display: flex;   
    justify-content: start;
    margin-top: 40px;
    padding-left: 20px;
    flex-basis: 50px;
}

.operators {
    display: flex;   
    justify-content: start;
    margin-top: 40px;
    padding-left: 20px;
    flex-basis: 50px;
    font-family: 'Impact', fantasy;
    justify-content: space-between;
    height: 15%;
}

p {
    font-size: 1.2rem;
    color: #08298A;
    padding-left: 20px;
}

.text {
    font-size: 1rem;
    color: #585858;
}

h2 {
    text-align: center;
    color: #424242;
}

h1 {
    color: #086c8a;
    text-align: center;
    font-size: 2rem;
}

footer {
    background-color: #1e3a8d; 
    flex: 0 0 auto;
    text-align: center;
    height: 9%;
    color: #fafcfc;

}